* {
    box-sizing: border-box;
}

.container {
    width: 80%;
}

body {
    background-color: #d7d7d7;
    padding-top: 150px;
    font-family: verdana;
    font-size: 14px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    text-shadow: 1px 1px 1px #aaaaaa;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}

/* Zprava */
.zprava {
    border: 2px solid #f4f852;
    background: #f5f8bb;
    padding: 5px;
}


/**************************** Navigation *******************************/
#navigation {
    padding-bottom: 0px;
    border: 0px transparent;
    background-color: transparent;
}

#navigation .navbar {
    margin-bottom: 0px;
}

#navigation .navbar-nav {
    border-radius: 10px;
    float:none;
    height: 160px;
}

#navigation .navbar-collapse {
    border-top: 0;
}

/* jednotlive elementy navbaru */
#navigation ul>li {
    float: left;
    text-align: center;
    width: 16.6%;
    padding-bottom: 13px;
}

/* animace */
#navigation ul>li.animated {
    transition: 0.25s padding-top;
}

/* animace */
#navigation ul>li.animated:hover {
    padding-top: 20px;
}

/* links */
#navigation .navbar-nav>a {
    padding-top: 25px;
    color: white;
}

/* links */
#navigation ul>a:hover,
#navigation ul>a:focus {
    background-color: transparent;
    text-decoration: none;
}

/* ikony */
#navigation .glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: white;
}

/* collapsed */
#navigation .navbar-toggle {
    float: left;
    border-color: black;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* barva textu */
#navigation h5{
    color:white;
}

/* barva pozadi buttonu */
#navigation .redakcnisystem {
    background-color: #f87912;
}

#navigation .home {
    background-color: #FFCC00;
}

#navigation .articles {
    background-color: #AADD00;
}

#navigation .account {
    background-color: #00CCCC;
}

#navigation .about {
    background-color: #666699;
}

#navigation .contact {
    background-color: #FF3333;
}

/* collapsed */
@media screen and (max-width: 767px){

    #navigation ul>li {
        text-align: center;
        width: 100%;
    }

    #navigation ul>li:hover{
        padding-top: 0px;
    }
}

/************ Footer ***************/
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/***************** Carousel *********************/
#myCarousel {
    overflow: hidden;
}

.container_carousel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-inner > .carousel-item > img {
    margin: 0;
    max-width: 100%;
}

.carousel_img {
    width: 100%;
}